body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'poppins', semibold;
    background-color: #070117;
}

.header{
    width: 100%;
    height: 78px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #155b91;
    
}

.icons{
    display: flex; 
    align-items: center;
  
}

.icon{
  margin: 10px  10px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    align-items: center;
}
 
.title{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

title h1{
  font-size: 36px;
  font-weight: 600;
  font-family: 'poppins' sans-serif;
  color: lightgrey;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    width: 100%;
    color: lightgrey;
  }

 .form{
    width: 603px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .select{
   
    width: 200px;
    height: 100%;
    box-sizing: border-box;
    border: #155b91;
    border-radius:10px 10px 10px 10px ;
    background-color: #171725;
    padding: 0 15px;
    color: #20d9d8;
  }

  .arrow-icon{
    margin-left: 0px;
  }
  
  .input{
   
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: #155b91;
    border-radius: 0 20px 20px 0;
    background-color: #f8f8f8;
  }

 .suggestions{
    margin-top: 7px;
    display: flex;
 } 

 .suggestion-box{
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    box-sizing: border-box;
    margin: 0 10px;
    background-color: #d6dfef;
    padding: 5px;
    border-radius: 5px;
 }
 
 .box-name{
    font-size: 10px;
    font-weight: medium;

 }

 .cards{
   width: 100%;
   max-width: 1200px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap:30px;
   padding: 20px;

 }

 .card{
  width: 262px;
  height: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 262px;
  border: 5px solid #155b91;
  border-radius: 2px;
  padding: 5px;
  background-color: #12213c;
  box-shadow: 4px 4px 15px white;

 }
 
 .card-image{
  width: 100%;
  height: 191px;
 }

 .title-icon{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color:#209bd8;
 
 }

 .card-title{
  color: #20d9d8;
  font-size: 16px;
  font-family:'Roboto', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
 }